.homeContainer {
	display: flex;
	justify-content: space-evenly;
/*	border:1px solid red;*/
}

.messages {
	display: flex;
	flex-direction: column-reverse;
}

.chat {
	position: absolute;
	margin-top: 30px;
}

/*.left {
	border:1px solid green;
	width: 400px;
}

.right {
	border:1px solid purple;
	width: 400px;
}*/