a {
	text-decoration: none;
	color: rgb(206, 89, 74);
}

.titleRooms {
	color: rgb(206, 89, 74);
}

ul, li {
	list-style: none;
	color: rgb(206, 89, 74);
}

.addRoomButt {
	border: none;
	background-color: inherit;
	color: rgb(206, 89, 74);
}

.roomInput {
	background-color: inherit;
	color:rgb(206, 89, 74);
}

.roomInput::placeholder {
	color:rgb(206, 89, 74);
}

/*.linktoAdd {
	margin-left: 0px;
}*/

.leftContainer {
/*	display: flex;
	flex-direction: column;*/
	border:1px solid grey;
	width: 400px;
	height: 730px;
	border-radius: 5px;
}

.left {
	display: flex;
	text-align: center;
	flex-direction: column;
	border-bottom:1px solid grey;
}

li:hover {
	color: green;
	cursor: pointer;
}

li.current {
	color:green;
}

.leftImgnName {
	display: flex;
	height: 50px;
	padding-left: 5px;
	margin-top: 15px;
	padding-bottom: 15px;
	align-items: center; 
	border-bottom:1px solid lightgrey;
	margin-left: 10px;
	margin-right: 10px;
}

.roomName {
	padding-left: 10px;
}